<!doctype html>
<html style="height: 100%;">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js_vars.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js_lib.js') }}"></script>
    </head>
    <body onload="js_init();">
        <div style="height: inherit; display: flex;">
        <div id="c1" class="vcol">
        <div id="c11" class="hcol2">
            <div class="line">Prompt</div>
            <textarea id="tapr" class="tarea"></textarea>
        </div>
        <div id="c12" class="hcol2" style="overflow-y: auto;">
            <div class="line">Models</div>
            <div style="display: flex; align-items: center; padding-top: 10px;">
                <select id="segp" class="sel" autocomplete="off"></select>
                <input id="ingp" class="inp" />
                <button id="bugp" class="but">Run GPT</button>
            </div>
            <div style="display: flex; align-items: center; padding-top: 10px;">
                <select id="sege" class="sel" autocomplete="off"></select>
                <input id="inge" class="inp" />
                <button id="buge" class="but">Run Gemini</button>
            </div>
            <div style="display: flex; align-items: center; padding-top: 10px;">
                <select id="seal" class="sel" autocomplete="off"></select>
                <input id="inal" class="inp" />
                <button id="bual" class="but">Run both</button>
            </div>
            <hr style="height: 1px; border: none; background-color: black; margin-left: 3px; margin-right: 3px;">
            <div class="line" style="font-size: 95%; margin-top: -3px; margin-bottom: 3px;">
                <small>OR </small>parse symptoms via:
            </div>
            <div style="font-size: 90%; margin-left: 1rem;">
                <input id="inc1" type="checkbox"/>
                <a id="inc3">chatGPT</a>
            </div>
            <div style="font-size: 90%; margin-left: 1rem;">
                <input id="inc2" type="checkbox"/>
                <a id="inc4">Gemini</a>
            </div>
            <div style="display: flex; align-items: center; padding-top: 10px; margin-bottom: 5px">
                <a style="font-size: 95%; padding-left: 5px;">and run</a><button id="aste" class="but" style="margin-left: .5rem;">All steps</button>
            </div>
        </div>
        </div>
        <div id="c2" class="vcol">
        <div id="c21" class="hcol2">
            <div class="line">Clinical history</div>
            <textarea id="tach" class="tarea"></textarea>
        </div>
        <div id="c22" class="hcol2">
            <div class="line">Schema</div>
            <textarea id="tasc" class="tarea"></textarea>
        </div>
        </div>
        <div id="c3" class="vcol">
        <div id="c31" class="hcol2">
            <div class="line">ChatGPT</div>
            <textarea id="tagp" class="tarea" readonly></textarea>
        </div>
        <div id="c32" class="hcol2">
            <div class="line">Gemini</div>
            <textarea id="tage" class="tarea" readonly></textarea>
        </div>
        </div>
        </div>
    </body>
</html>
